node_modules

# IDE
.vscode
.idea

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.development.example
!.env.production.example

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
# Playwright
test-results

## AI
.claude